<div class="container">
  <h3>New Task</h3>


  <div class="col-sm submit-form">
    <form  #myForm="ngForm" (ngSubmit)="submit()">

      <div class="form-group" >
        <div>
          <input type="text" class="content-textarea" id="todoContent" name="todoContent" value={todoContent}
                 placeholder="Be concise, max 80 characters"
                 required minlength="1" maxlength="80"
                 [(ngModel)]="form.todoContent" #todoContent="ngModel">
          <!-- Validations error messages -->
          <div *ngIf="todoContent.invalid && (todoContent.dirty || todoContent.touched)"
               class="danger-alert">
            <div *ngIf="todoContent.errors?.['required']">
              * To-do content is required if you want to add something.
            </div>
            <div *ngIf="todoContent.errors?.['maxlength']">
              * To-do content must be at most 80 characters to be efficient.
            </div>
          </div>

        </div>
      </div>

      <div class="form-buttons">
        <button type="submit" class="button-plus" [disabled]="!myForm.valid">
          <fa-icon [icon]="faPlus"></fa-icon> Add
        </button>
      </div>

    </form>
  </div>

  <div class="new-task-image">
    <img src="assets/7203333_todo_list_deadline_task_icon.png" class="illustration" alt="new-task-illustration"/>
  </div>

  <div class="text-add-task">
    Total tasks registered : {{count$ | async }}
  </div>

</div>
